albumentations==2.0.0
numpy==2.2.1
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
--extra-index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1+cu124
--extra-index-url https://download.pytorch.org/whl/cu124
torchaudio==2.5.1+cu124
torchsde
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
